In [1]:
a=5
b=6
a+b

11

In [2]:
## to get the path of Notebook
pwd

'C:\\Users\\HP\\1_Practice_Datamites'

In [3]:
a=1
a

1

In [4]:
type(a)

int

In [5]:
a=True
a

True

In [6]:
## type(pass the variable of which u want data type)
type(a)

bool

In [1]:
num_2=20
num_2

20

In [2]:
x= True
x

True

In [3]:
type(x)

bool

In [4]:
y=False
y # calling the variable

False

In [5]:
type(y)

bool

### Integer
* Whole number 
* +ive no.
* -ive no.
* 0

In [6]:
num = 24
print(type(num))

<class 'int'>

In [7]:
type(num)

int

In [8]:
num1=0
print(type(num1))## cheching th edata type of variable

<class 'int'>

Python is a sequential language.
Python is open source language.

In [10]:
a=5 
b=6 
print(b)

6

In [11]:
a=6
b=5
print(b)

5

In [15]:
a=5
b=6
print(b)
a

6

5

In [17]:
print(a,b,a)

5 6 5

In [22]:
a,b=b,a

In [23]:
b

5

In [24]:
a

6

### Float-
* Decimal number

In [12]:
xy=58.97
type(xy)

float

### String-
* Collection of aplhabet enclosed with quotes

In [14]:
name="ayush"
type(name)

str

In [25]:
role='Data Scientist * ++ ='

In [27]:
print(role)

Data Scientist * ++ =

In [28]:
type(role)

str

In [30]:
## type Casting
e=5+False+True+7+98.34

In [31]:
e

111.34

In [32]:
type(e)

float

In [34]:
z=48+78+True+False+98.654

In [35]:
z

225.654

In [36]:
type(z)

float

In [37]:
z=87+ int('3')## Force type casting

In [38]:
z

90

In [41]:
x=True+False+5+7+1.2

In [42]:
x

14.2

In [43]:
type(x)

float

In [44]:
x=str(42)

In [45]:
x

'42'

In [56]:
import math as m

In [57]:
m.floor(x)

78

In [58]:
m.ceil(x)

79

In [59]:
a=78.1
m.ceil(a)

79

In [61]:
x='6ff'

In [62]:
type(x)

str

In [64]:
x=44

In [65]:
float(x)

44.0

In [66]:
float(False)

0.0

In [67]:
int(True)

1

In [70]:
x= 5+ int('14')+float(True)+15.67+False-True-53.2

In [71]:
x

-18.53

In [1]:
x= 'print(55)'
eval(x)

55

In [2]:
type(x)

str

In [3]:
x='sum([8,16,32])'
eval(x)

56

In [4]:
print(x)

sum([8,16,32])

In [6]:
x=sum([8,16,32])

In [7]:
x

56

In [8]:
y='print("This is python class")'

In [9]:
eval(y)

This is python class

In [2]:
eval("2+3")

5

In [4]:
# Dynamically typed
num=10
print("THe number is =",num)

THe number is = 10

In [10]:
name='Ayush Saxena'
print("Myself",name)

Myself Ayush Saxena

In [14]:
name='Ayush Saxena'
print('Myself '+name)

Myself Ayush Saxena

In [18]:
# Placeholder
name="Ayush"
age=21
city='Dehradun'
print("Hey all myself {} and my age is {} and I'm from {}".format(name,age,city))

Hey all myself Ayush and my age is 21 and I'm from Dehradun

In [20]:
# Index -: Way of accessing the data 
name ='Ayush'
city='Noida'
role='Data Science'
print("MY name is {1} and I'm from {0} and working as {2}".format(city,name,role))

MY name is Ayush and I'm from Noida and working as Data Science

In [11]:
# slicing
st1="Welcome to Certified Data Science Course"
len(st1)

40

In [12]:
st1[1:]

'elcome to Certified Data Science Course'

In [13]:
st1[:]

'Welcome to Certified Data Science Course'

In [14]:
st1[::-1]

'esruoC ecneicS ataD deifitreC ot emocleW'

In [15]:
st='121'
st

'121'

In [16]:
st[::-1]

'121'

In [17]:
st1[36]

'u'

In [26]:
st1[-21:-1]

'd Data Science Cours'

In [27]:
len(st1)

40

In [2]:
st='Welcome to Data Science Course'

In [3]:
st

'Welcome to Data Science Course'

In [5]:
st[3:23:3]

'ceoa ic'

In [8]:
st[-7:-3:3]

' u'

In [9]:
st[-27:-1:3]

'ceoa icCr'

In [11]:
st[23:3:-3]

' ncaDtm'

In [12]:
a='MAchine Learning'
a[::-1]

'gninraeL enihcAM'

In [13]:
a="Machine"
a.capitalize()

'Machine'

In [14]:
a.casefold()

'machine'

In [18]:
a.center(20)

'      Machine       '

In [19]:
a.count('a')

1

In [21]:
a.count('m')

0

In [22]:
a.count('M')

1

In [23]:
a.encode()

b'Machine'

In [26]:
a.endswith('')

True

In [27]:
a.expandtabs(2)

'Machine'

In [29]:
a.expandtabs()

'Machine'

In [30]:
a.upper()

'MACHINE'

In [33]:
a.translate('table')

'Machine'

In [34]:
a.split()

['Machine']

In [35]:
a.split('a')

['M', 'chine']

In [41]:
st.lower().split('c')

['wel', 'ome to data s', 'ien', 'e ', 'ourse']

In [42]:
m='machine learning'

In [49]:
m[-16:-1]

'machine learnin'

In [1]:
a=5
b=6
c=a+b

In [2]:
c

11

In [3]:
print(c)

11

In [4]:
a=6
b=5
c=a-b
print("The valu of c is ",c)

The valu of c is  1

In [5]:
a=5
b=4
a//b

1

In [6]:
a/b

1.25

In [7]:
a%b ## to get remainder

1

In [8]:
a=2
b=3
a*b

6

In [9]:
a**b

8

In [10]:
## Conditional Statement

In [12]:
a=10
if a==10:
    print('Thi is true value of a')
else:
    print("This is false value ")

Thi is true value of a

In [17]:
## odd even program 
a=int(input("Enter the number"))
if a%2==0:
    print("Even number")
else:
    print("The odd Number")

Enter the number24
Even number

## Python Data Structure

## List

In [20]:
l=[1,2,3,4,5,'hi']

In [2]:
l

[1, 2, 3, 4, 5, 'hi']

In [3]:
type(l)

list

In [4]:
l.clear()

In [5]:
l

[]

In [6]:
l

[]

In [8]:
l

[1, 2, 3, 4, 5, 'hi']

In [9]:
l.append(4)

In [10]:
l

[1, 2, 3, 4, 5, 'hi', 4]

In [11]:
l.append([2,3,5]) ## list inside list

In [12]:
l

[1, 2, 3, 4, 5, 'hi', 4, [2, 3, 5]]

In [14]:
l.append(2)

In [15]:
l

[1, 2, 3, 4, 5, 'hi', 4, [2, 3, 5], 2]

In [16]:
l=[] ## Creat empty list

In [17]:
l

[]

In [18]:
l1=list([])
l1

[]

In [19]:
l

[]

In [21]:
l

[1, 2, 3, 4, 5, 'hi']

In [23]:
l.append(5)

In [24]:
l

[1, 2, 3, 4, 5, 'hi', 5]

In [25]:
l[2]

3

In [26]:
l[2]=[8]

In [27]:
l

[1, 2, [8], 4, 5, 'hi', 5]

In [28]:
l[2]=9

In [29]:
l

[1, 2, 9, 4, 5, 'hi', 5]

In [31]:
l[1]=8

In [32]:
l

[1, 8, 9, 4, 5, 'hi', 5]

In [33]:
l=[1,2,3,4,5]

In [34]:
l.append([8,9,10,11,12])

In [35]:
l

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12]]

In [36]:
l[5][1]## Accessing elemnt bfrom nested list

9

In [38]:
l.count(1)

1

In [39]:
l.append(1)

In [40]:
l

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1]

In [41]:
l.count(1)

2

In [42]:
l.extend([44,45]) ## adding multiple element in the list

In [43]:
l

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1, 44, 45]

In [44]:
l

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1, 44, 45]

In [49]:
l.reverse()

In [50]:
l

[45, 44, 1, [8, 9, 10, 11, 12], 5, 4, 3, 2, 1]

In [51]:
l[::-1]

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1, 44, 45]

In [52]:
l[::-1]

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1, 44, 45]

In [53]:
l[-1]

1

In [54]:
l

[45, 44, 1, [8, 9, 10, 11, 12], 5, 4, 3, 2, 1]

In [55]:
l[::-1]

[1, 2, 3, 4, 5, [8, 9, 10, 11, 12], 1, 44, 45]

In [56]:
l

[45, 44, 1, [8, 9, 10, 11, 12], 5, 4, 3, 2, 1]

In [58]:
l=[1,2,5,6,3,9,5]

In [59]:
l.sort()

In [64]:
l

[1, 2, 3, 2, 5, 5, 6, 9]

In [65]:
l.insert(3,2) ##(pos,ele)

In [66]:
l

[1, 2, 3, 2, 2, 5, 5, 6, 9]

In [63]:
len(l)

8

In [68]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.extend(l2)

In [69]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [70]:
l2.extend(l1)

In [71]:
l2

[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
list=['apple','bnana','orange']

In [4]:
list

['apple', 'bnana', 'orange']

In [5]:
list[2:2]=['rose','lilly']

In [6]:
list

['apple', 'bnana', 'rose', 'lilly', 'orange']

In [7]:
list

['apple', 'bnana', 'rose', 'lilly', 'orange']

In [8]:
list.pop()

'orange'

In [9]:
list

['apple', 'bnana', 'rose', 'lilly']

In [11]:
list.remove('apple')

In [12]:
list

['bnana', 'rose', 'lilly']

In [13]:
list.pop(0)

'bnana'

In [14]:
list

['rose', 'lilly']

In [16]:
list

['apple', 'bnana', 'orange']

In [17]:
list

['apple', 'bnana', 'orange']

In [18]:
del list ## To delete entire list

In [19]:
list

list

In [20]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [21]:
l.reverse()

In [22]:
l

[5, 4, 3, 2, 1]

In [23]:
l

[5, 4, 3, 2, 1]

In [25]:
l.reverse()

In [26]:
l

[1, 2, 3, 4, 5]

In [27]:
l[::-1]

[5, 4, 3, 2, 1]

In [28]:
l.sort()

In [29]:
l

[1, 2, 3, 4, 5]

In [30]:
l=[1,2,3,4,5,6]

In [31]:
l

[1, 2, 3, 4, 5, 6]

In [32]:
l2=l.copy()

In [33]:
l2

[1, 2, 3, 4, 5, 6]

In [34]:
id(l)

1891444609664

In [35]:
id(l2)

1891461192960

In [37]:
del l[1]

In [38]:
l

[1, 3, 4, 5, 6]

In [43]:
l=[1,3,4,5,8,7,6,2]
l

[1, 3, 4, 5, 8, 7, 6, 2]

In [40]:
l.sort()

In [41]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
l

[1, 3, 4, 5, 8, 7, 6, 2]

In [47]:
l.sort(reverse=True) ## descending order

In [48]:
l

[8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
l.sort(reverse=False) ## Ascending order

In [50]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
l=[1,2,3,1.2]
l

[1, 2, 3, 1.2]

In [55]:
l.sort()

In [56]:
l

[1, 1.2, 2, 3]

In [57]:
s1=[2,6,7,8,10]

In [58]:
s1[1:3]

[6, 7]

In [59]:
s1[0:4]

[2, 6, 7, 8]

In [73]:
s2=[3,6,9,12,45,67]

In [74]:
s2

[3, 6, 9, 12, 45, 67]

In [63]:
s2[-2:]

[45, 67]

In [65]:
s2.reverse()

In [66]:
s2

[67, 45, 12, 9, 6, 3]

In [67]:
s2

[67, 45, 12, 9, 6, 3]

In [68]:
s2[::-1]

[3, 6, 9, 12, 45, 67]

In [69]:
s2[0:4:2]

[67, 12]

In [70]:
s2

[67, 45, 12, 9, 6, 3]

In [72]:
s2

[67, 45, 12, 9, 6, 3]

In [75]:
s2

[3, 6, 9, 12, 45, 67]

In [77]:
s2[0:4:3]

[3, 12]

## Tuples

In [78]:
t=(1,2,3,4,5,5)

In [79]:
t

(1, 2, 3, 4, 5, 5)

In [86]:
t=tuple([1,2,3,4])

In [87]:
t

(1, 2, 3, 4)

In [80]:
type(t)

tuple

In [81]:
t.count(5)

2

In [82]:
t.index(2)

1

In [83]:
t.index(5)

4

In [88]:
t=([1,2,3,4],5,6)

In [89]:
t

([1, 2, 3, 4], 5, 6)

In [90]:
del t[0][1]

In [91]:
t

([1, 3, 4], 5, 6)

In [92]:
type(t)

tuple

In [5]:
t=tuple(eval(input("Enter the number")))

Enter the number1,2,3,4

In [6]:
t

(1, 2, 3, 4)

In [7]:
t=(1,2,3,4,5)
len(t)

5

## Dictionary

In [47]:
dict={1:'one',2:'two',3:'three'}

In [48]:
dict.keys()

dict_keys([1, 2, 3])

In [49]:
dict.values()

dict_values(['one', 'two', 'three'])

In [12]:
dict[1]

'one'

In [13]:
dict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [14]:
## Nested Dictionary

In [21]:
nd={1:'one',2:{11:'Eleven',12:'twelve',13:'thirteen'}}

In [22]:
nd

{1: 'one', 2: {11: 'Eleven', 12: 'twelve', 13: 'thirteen'}}

In [23]:
nd[1]

'one'

In [24]:
nd[2]

{11: 'Eleven', 12: 'twelve', 13: 'thirteen'}

In [28]:
nd[2][11]

'Eleven'

In [29]:
nd[2][12]

'twelve'

In [30]:
dict.values()

dict_values(['one', 'two', 'three'])

In [38]:
x=('key1','key2','key3')
y=0
d= dict.fromkeys(x,y)

In [39]:
d

{'key1': 0, 'key2': 0, 'key3': 0}

In [41]:
dict.get(1)

'one'

In [42]:
dict.popitem()

(3, 'three')

In [43]:
dict

{1: 'one', 2: 'two'}

In [45]:
dict.pop(1)

'one'

In [46]:
dict

{2: 'two'}

In [51]:
dict

{1: 'one', 2: 'two', 3: 'three'}

In [52]:
dict.update({4:'four'})

In [53]:
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

## Sets

In [1]:
s={1,2,3,4,4,5,6}

In [2]:
s

{1, 2, 3, 4, 5, 6}

In [3]:
type(s)

set

In [4]:
s2=set([1,2,3,4,5,6,7,8])

In [5]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
type(s2)

set

In [8]:
s2.difference(s)

{7, 8}

In [9]:
s.difference(s2)

set()

In [10]:
s.intersection(s2)

{1, 2, 3, 4, 5, 6}

In [11]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
s.issuperset(s2)

False

In [13]:
s.add(8)

In [14]:
s

{1, 2, 3, 4, 5, 6, 8}

In [15]:
s=set([1.1,2.2,'False'])

In [16]:
s

{1.1, 2.2, 'False'}

In [19]:
s={'a','c','d','b'}

In [20]:
s

{'a', 'b', 'c', 'd'}

In [22]:
s={False,True}

In [23]:
s

{False, True}

## Function

In [28]:
def myfirstfunction():
    print("I printed this")
myfirstfunction()

I printed this

In [30]:
def myfirst():
    return("Hey how are you")
b=myfirst()
print(b)

Hey how are you

In [2]:
## Area of Rectangle
def rect(l,b):
    area=l*b
    return area
rect(5,10)

50

In [3]:
## User input
def user(l,b):
    area=l*b
    return area
a=int(input("Enter the length"))
b=int(input("Enter the bredth"))
user(a,b)

Enter the length8
Enter the bredth5

40

In [4]:
a=int(input("Enter the length"))
b=int(input("Enter the bredth"))
def user(l,b):
    area=l*b
    return area

user(a,b)

Enter the length5
Enter the bredth5

25

## Loops

In [6]:
# While loop
i=1
while(i<5):
    print("The Value is",i)
    i=i+1
print("Out of loop")

The Value is 1
The Value is 2
The Value is 3
The Value is 4
Out of loop

In [19]:
# Table of 2
i=2

while(i<21):
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [21]:
## For loop
fruit=['apple','mango','grapes']
for i in fruit:
    print("Fruit",i)

Fruit apple
Fruit mango
Fruit grapes

In [26]:
i=[]
for i in range(1,21):
    a=i*i
    print(a)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [28]:
## printing Table
j=0
for x in range(5,51,5):
    j=j+1
    print("5 X",j,"=",x)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [29]:
## printing the table of 10
j=0
for i in range (10,101,10):
    j=j+1
    print("10 X",j,"=",i)

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

# Assignment

In [30]:
# Q1Write a Python program to get the Python version you are using.
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [31]:
# Q2Write a Python program to display the current date and time
import datetime

now=datetime.datetime.now()
now

datetime.datetime(2021, 6, 13, 3, 18, 33, 999679)

In [34]:
# Q3  Write a Python program which accepts the radius of a circle from the user and compute the area
r=int(input("Enter the radius of circle: "))
area= 3.14*r*r
print("The are of circle is",area,"meter square")

Enter the radius of circle: 10
The are of circle is 314.0 meter square

In [35]:
# Q4 Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')
x=5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')
print("The output of expression is :",x)

The output of expression is : 17.2

In [37]:
# Q5 Write code to test whether the given number lies between 1 and 10
a=int(input("Enter the Number"))
if a>1 and a<10:
    print("Yes number is range")
else:
    print("The Number is not in range")

Enter the Number45
The Number is not in range

In [40]:
# Q6 sum the numbers from 1 to 20 using for loop
sum=0
for i in range(1,21,1):
    sum=sum+i
print("The sum is",sum)

The sum is 210

In [42]:
# Q7 Display the numbers in reverse from 100 to 1
a=list(range(1,101))
a.reverse()
print(a)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
# Q8 Display multiples of 2 from 10 to 50 using range
a=[]
for i in range(10,50,2):
    a.append(i)
print(a)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [51]:
# Q9From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [52]:
d

{'1': 'One',
 '2': [1, {'Two': ['Ch', 'Cbe', 'Salem', {'Place': [5, 6, 7, 'Bangalore']}]}]}

In [62]:
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

In [63]:
# Q 10 Use functions to return square of numbers from 2 to 5
def square(a,b):
    for i in range(2,6):
        j=i*i
        print(j)
square(a,b)

4
9
16
25

In [68]:
# Q11 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers
a=list(eval(input("Enter the number in list")))
b=tuple(eval(input("Enter the number in tuple ")))
print("List:",a)
print("Tuple:",b)

Enter the number in list1,2,3,4,5
Enter the number in tuple 1,2,3,4,5
List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [69]:
# Q12  Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [75]:
print(color_list[0])
print(color_list[-1])

Red
Black

In [78]:
#Q13Write a Python program to calculate number of days between two dates.
#Sample dates : (2014, 7, 2), (2014, 7, 11)
from datetime import date
d1=date(2014, 7, 2)
d2=date(2014, 7, 11)
d3=d2-d1
print(d3.days)

9

In [88]:
# Q14 Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference
def diff(n):
    if n<=17:
        return 17-n
    else:
        return (n-17)*2
print(diff(22))
print(diff(14))

10
3

In [81]:
# Q15Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.And also it must return both addition and subtraction in a single return call

In [89]:
def function(a,b):
    add= a+b
    sub= a-b
    return add,sub
function(10,5)

(15, 5)

In [90]:
# Q 16 Generate a Python list of all the even numbers between 4 to 30
l=[num for num in range(4,31,1) if num%2==0]
print(l)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]